@use "variables" as * ;




@mixin set-text-style($size: $fs-300, $font:$ff-primary, $color: $clr-black){
    font-size: $size;
    font-family: $font;
    color: $color;
}

@mixin set-logo($loc){
    &::#{$loc}{
        display: block;
        content: url(../images/zen_logo.png);
        zoom: 10%;
      
   
        }
    }

    @mixin set-background-image(){
        background-image: url(../images/autumn_background3.jpg);
        background-attachment: fixed;
        background-blend-mode: multiply;
        background-size: cover;
        // opacity: .75;
        z-index: -1;
    }


h1,h2,h3,p{
    font-family:$ff-primary;
    margin: 0;
}



h1{
    @include set-text-style($fs-700);
    color: $clr-white !important;
    // padding-top: 8rem;
    font-weight: $fw-700;
}

h2{
    @include set-text-style($fs-400, $ff-new1);
    color: $dark-red !important;
    font-weight: $fw-700;
}

h3{
    @include set-text-style($fs-500, $ff-secondary2);
    color: $champagne-pink !important;
    // font-weight: $fw-400;
    z-index: 1000;

}

p{
    @include set-text-style($fs-300, $ff-new1);
    color: $champagne-pink !important;
    z-index: 1000;
}


a{

//  color: $dark-red;
color: $clr-white;

}

a:hover{
    color: $fulvous;
}


header{
    @include set-logo(before);
  
}



