@use "variables" as * ;


@mixin set-text-style($size: $fs-300, $font:$ff-primary, $color: $clr-black){
    font-size: $size;
    font-family: $font;
    color: $color;
}

@mixin set-footer-logo-svg($url){
    display:block;
    background-image: $url;
    background-size: contain;
    background-repeat: no-repeat;            
    // max-width: 100%;
    // max-height: 100%;
    width:4vw;
    height:4vh;
    text-indent:-999px;
    text-align:left;
    overflow:hidden;
            
}

@mixin set-logo($loc, $image-url, $width, $height)
{
    &::#{$loc}{
        content: "";
        display: block;
        width: $width;
        height: $height;
        background-image: $image-url;
        background-attachment:local;
        background-size:contain;
        -webkit-background-size:contain;
        -moz-background-size:contain;
        -o-background-size:contain;
        background-repeat: no-repeat;
        z-index: 100;

        }
    }
    


@mixin set-image($loc, $image-url, $width, $height, $float:none, $shape:none)
{
    &::#{$loc}{
        content: "";
        border: 1px solid blue;
        display: block;
        width: $width;
        height: $height;
        background-image: $image-url;
        background-size: contain;
        -webkit-background-size:contain;
        -moz-background-size:contain;
        -o-background-size:contain;
        background-repeat: no-repeat;
        float: $float;
        shape-outside: $shape;
        z-index: 10;

        }
    }

@mixin set-background-image(){
    background-image: url(../images/autumn_background3.jpg);
    background-attachment: fixed;
    background-blend-mode: multiply;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
        
    }

h1,h2,h3,p{
    font-family:$ff-primary;
    margin: 0;
}


h1{
    @include set-text-style($fs-700);
    color: $clr-white !important;
    font-weight: $fw-700;
}

h2{
    @include set-text-style($fs-303, $ff-new1);
    color: $dark-red !important;
    font-weight: $fw-700;
}

h3{
    @include set-text-style($fs-500, $ff-secondary2);
    color: $dark-red !important;
}

p{
    @include set-text-style($fs-200, $ff-new1);
    color: $clr-black!important;
}


a{
    @include set-text-style($fs-200, $ff-new1);
    color: $dark-red;
}

a:hover{
    color: $clr-white;
}


header{
    @include set-logo(before, url(../images/zen_logo.png), 10vw,17vh);
}



footer{

    .zen-validate-html{
        @include set-footer-logo-svg(url(../svg/html5.svg));
    }

    .zen-validate-css{
        @include set-footer-logo-svg(url(../svg/css3.svg));

    }

    .zen-license{
        @include set-footer-logo-svg(url(../svg/closed-captioning-solid.svg));
    }

    .zen-accessibility{
        @include set-footer-logo-svg(url(../svg/universal-access.svg));
    }

    .zen-github{
        @include set-footer-logo-svg(url(../svg/square-github.svg));
    }

}

