@use "variables" as *;
@use "atoms";
@use "molecules";


@mixin set-position($position, $top){
    position: $position;
    top: $top;

}




.page-wrapper{
    @include molecules.set-Grid(.5rem);
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    box-shadow: rgba(26, 11, 11, 0.3) 0px 3px 8px;

    .intro{
        @include molecules.set-Flex(column);
        @include molecules.order(1);
        @include atoms.set-background-image();
        position:relative;
        background-color: $clr-white;
        grid-column: 1 / -1;
        grid-row: 1/2;
        border-radius: 10px;
        justify-content: center;
       
    }

    .main{
        @include molecules.order(3);
        grid-column: 1/ 2;
        grid-row: 2/3;
        border-radius: 10px;

    }

    .sidebar{
        grid-column:2/-1;
        grid-row: 2/3;
        background-color: $fulvous;
        @include molecules.order(2);
        @include atoms.set-background-image();
        border-radius: 10px;
        margin: 0 2rem;
        z-index: 10;

        .wrapper{
            @include molecules.set-Flex(column);
            justify-content: space-between;
            gap: 1.5rem;
            position: sticky;
            top: 0;
            z-index: 10;
            margin: 1rem 0rem;

            &>* .select, .archives, .resources{
                font-size: $fs-400 !important;
                color: $clr-white !important;
            }

            &>*{
                @include molecules.set-Flex(column);
                padding: 1rem 3rem;

                ul{

                    @include molecules.set-Flex(column);
                    justify-content: space-between;

                    &:hover>* a {
                        transform: scale(1);
                    }

                    &>* {
                        font-size: $fs-100 !important;
                        padding: .25rem;
                        list-style-type: none;
                  
                    }


                    &>* a{
                        display: inline-block;
                        position: relative;
                        text-decoration: none;
                        transition: .5s; 

                    }

                    &>* a:hover{
                        transform: scale(1.4);

                    }


                    

                }

            }

            

            
        }


    }


}   









