@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Satisfy&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
// added some new color
$gap: 15px;
$background: rgba(31, 92, 108, 1) ;
$color1: #FDA085;
$color1g: #F6D365;


$chinese-red: rgba(156, 51, 29, 1);
$fulvous: rgba(225, 137, 24, 1);
$dark-red: rgba(137, 28, 15, 1);
$desert-sand: rgba(229, 205, 183, 1);
$champagne-pink: rgba(244, 222, 208, 1);

// project selected colors
$clr-primary: #1F5C6C;
$clr-gray: #F0F0F0;
$clr-white: #FBFBFB;
$clr-black: #000000;

// font family
$ff-primary: "Barlow Semi Condensed", sans-serif;
$ff-secondary: 'Dynalight', cursive;
$ff-primary2: 'Signika Negative', sans-serif;
$ff-secondary2: 'Satisfy', cursive;
$ff-new1: 'Kalam', cursive;
// $ff-new2:'Alfa Slab One', cursive;

// font weight
$fw-400: 500;
$fw-300: 300;
$fw-700: 600;
$fw-100: 100;
// font size
$fs-300: 1rem;
$fs-400: 1.5rem;
$fs-500: 2rem;
$fs-100: 0.8325rem

