@import url('https://fonts.googleapis.com/css?family=Varela+Round');

$clr-primary-400:  #7541C8;
$clr-secondary-400: #48556A; 
$clr-secondary-500: #19212E;
$clr-neutral-100: #FFFFFF;
$clr-neutral-200: #ECF2F8;
$clr-neutral-300: #CFCFCF;




$gap: 15px;
// $WHITE: #FBFBFB;
$background: rgba(31, 92, 108, 1) ;
$color1: #FDA085;
$color1g: #F6D365;
$color2: #BFF098;
$color2g: #6FD6FF;
$color3: #EA8D8D;
$color3g: #A890FE;
$color4: #D8B5FF;
$color4g: #1EAE98;
$color5: #C6EA8D;
$color5g: #FE90AF;


$clr-primary: #1F5C6C;
$clr-gray: #F0F0F0;
$clr-white: #FBFBFB;
$clr-black: #000000;

// font family
$ff-primary: "Barlow Semi Condensed", sans-serif;

// font weight
$fw-400: 500;
$fw-300: 300;
$fw-700: 600;
$fw-100: 100;
// font size
$fs-300: 1rem;
$fs-400: 1.5rem;
$fs-500: 2rem;
$fs-100: 0.8325rem



//hsl(217 19% 35%); hsl(219 29% 14%);hsl(0 0% 100%);hsl(210 46% 95%);hsl(0 0% 81%);
