@use "variables" as *;
@use "atoms" ;
@use "molecules";
@use "organisms";


*, ::after, ::before{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html{
    font-size: 100%;
}

body{
    background-color: $champagne-pink;
    // @include atoms.set-background-image();
}

.page-wrapper{
    max-width: 90%;
    margin: .5em auto;

   
}


  